# pyramid
pyramid.log
pyramid.pid

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python tools
.coverage
venv

# Python & distutils
__pycache__
*.egg-info
.eggs
askomics/ttl/*
build/
dist/

# Javascript & utils
node_modules
askomics/test/client/index_tpl.html
.coverage-js
askomics/test/client/js/istanbul
askomics/test/client/js/src/
coverage
output_test.log

# Editors & tooling
*.orig
*~
.*rc

# custom config file
configs/askomics.ini

# docker file
Dockerfile