# pyramid
pyramid.log
pyramid.pid

# Python tools
.coverage
venv

# Python & distutils
__pycache__
*.egg-info
.eggs
askomics/ttl/*
build/
dist/

# Javascript & utils
node_modules
askomics/test/client/js/istanbul
.coverage-js
output_test.log

# Editors & tooling
*.orig
*~
