pre {
    font-family:"Courier New", Courier, monospace;
    text-align: left;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    overflow: auto;
}

.link {
    stroke: #2E2E2E;
    stroke-width: 2px;
}

.node {
    stroke: #fff;
    stroke-width: 2px;
}

.textClass {
    stroke: #323232;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 14px;
}

.site-header {
    text-transform: full-width;
    font-weight: bold;
}

.tableHeader {
    text-align: center;
}

.header-div {
    text-transform: full-width;
    margin-top: -1px;
    font-size: 20px;
}

.btn-group-query {
    float: right;
}

.display {
    float: right;
    padding-right: 1%;
    font-size: 16px;
    padding-top: 5px;
}

.div-details {
    max-height: 300px;
    overflow-y: auto;
}

.div-details-max {
    overflow-y: auto;
}

.glyphicon:hover {
    cursor: pointer;
    color: chocolate;
}

.fa:hover {
    cursor: pointer;
    color: chocolate;
}

#btn-file {
    float: left;
}

#startpoints {
    width: 30%;
}

#queryBuilder {
    max-height: 400px;
}

#svgdiv {
    /*max-height: 380px;*/
    background: Gainsboro;
    border: 1px solid;
}

#results, #init {
    margin-top: 40px;
}

.preview_table {
    width: auto;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
}

.preview_table td:first-child,
.preview_table th:first-child {
    border-right: 2px solid #ddd;
}

.preview_table th {
    padding: 0px !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
    text-align: center;
}

.preview_table td {
    padding: 4px !important;
    text-align:left;
    font-size: 12px;
    white-space: nowrap;
}

.fileTypeSelection label {
    display: inline-block;
}
.fileTypeSelection input {
    display: inline-block;
}

div.uploadedQuery {
    font-family:"Courier New";
    text-align: left;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 300px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

.uploadBtn {
    position: relative;
    overflow: hidden;
    margin: auto;
}
.uploadBtn input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.preview_field {
    max-height: 400px;
    display: none;
}

.template-source_file {
    margin-bottom: 4em;
}

.results-div {
    overflow-x: hidden;
}

.table-results {
    margin-bottom: 0px;
}
