<hr/>
<h3 class="header-div">Import DATA from an URL</h3>
<hr/>

<table id="data-table-remotedata" class="table table-striped data-table datasets-table">
<tr>
  <td>Url</td>
  <td><input id="data-url" type="text" class="form-control" value="http://" /></td>
</tr>
<tr>
  <td colspan="2">
    <div class="btn-group" role="group" aria-label="metadata">
      <label id="insert_remote_private_data" class="btn btn-default"><i class="fa fa-lock text-primary"></i> Insert as a <i class="text-primary">private</i> dataset</label>
      <input id="insert_remote_private_data" class="btn hidden" value="Insert in private graph" />
      {{#if admin}}
      <label id="insert_remote_public_data" class="btn btn-default"><i class="fa fa-globe text-warning"></i> Insert as a <em class="text-warning">public</em> dataset</label>
      <input id="insert_remote_public_data" class="btn hidden" value="Insert in public graph" />
      {{/if}}
  </div>
 </td>
</tr>
</table>
<br/>
<h3 class="header-div">Request on some remote SPARQL endpoints</h3>
<div class="alert alert-success" role="alert">
<ul>
  <li>Request <a onclick="__ihm.load_remote_data_onclick(true,'https://raw.githubusercontent.com/askomics/askomics/master/askomics/static/modules/dbpedia.ttl');" href="#jobsview">a subset of DBPedia.</a> with AskOmics</li>
  <li>Request <a onclick="__ihm.load_remote_data_onclick(true,'https://raw.githubusercontent.com/askomics/askomics/master/askomics/static/modules/biopax.ttl');" href="#jobsview">on the EBI SPARQL endpoint with the BioPAX format.</a></li>
  <li>Request <a onclick="__ihm.load_remote_data_onclick(true,'https://raw.githubusercontent.com/askomics/askomics/master/askomics/static/modules/uniprot.ttl');" href="#jobsview">on the UniProt Sparql endpoint.</a></li>
  <li>Request <a onclick="__ihm.load_remote_data_onclick(true,'https://raw.githubusercontent.com/askomics/askomics/master/askomics/static/modules/nextprot.ttl');" href="#jobsview">on the neXtProt SnorQL endpoint.</a></li>
  <!-- <li>Request <a onclick="__ihm.load_remote_data_onclick(true,'https://raw.githubusercontent.com/askomics/askomics/master/askomics/static/modules/linkdb.ttl');" href="#jobsview">on the GenomeNet LinkDB RDF.</a></li> -->
</ul>
</div>
<br/>
<br/>
<h3 class="header-div">Install some ontologies on your local triplestore</h3>
<div class="alert alert-success" role="alert">
<ul>
  <li> Manage a local <a target="_blank" href="http://www.geneontology.org/">Gene Ontology</a> database.
    <ul>
      <li>Insert the GO annotation in your local triplestore : <a onclick="__ihm.load_remote_data_onclick(true,'http://purl.obolibrary.org/obo/go.owl');" href="#jobsview">go.owl at EBI</a></li>
      <li><a onclick="__ihm.load_remote_data_onclick(true,'https://raw.githubusercontent.com/askomics/askomics/master/askomics/static/modules/go_local.ttl');" href="#jobsview">Askomics abstraction for a local GO.</a></li>
    </ul>
  </li>
</ul>
</div>
<h3 class="header-div">Modules</h3>
<div class="alert alert-success" role="alert">
  <a target="_blank" href="https://github.com/askomics/askomics/tree/master/askomics/static/modules">AskOmics modules available</a>.
</div>
