<table id="data-table-endpoint" class="table table-striped data-table datasets-table">
<tr>
  <td>Name</td>
  <td><input id="endpoint-name" type="text" class="form-control" placeholder="Askomics name server." /></td>
</tr>
<tr>
  <td>Url</td>
  <td><input id="endpoint-url" type="text" class="form-control" value="http://" /></td>
</tr>
<tr>
  <td>Auth</td>
  <td>
    <select id="endpoint-auth" class="form-control">
      <option value="basic" selected>Basic</option>
      <option value="digest">Digest</option>
    </select>
  </td>
</tr>
</table>
