<div id="blocked_message">
    <h4>Hello {{name}}!</h4>
    <p>Your account is blocked, wait for an admin to unlock it.</p>
    <p>In the meantime, you can play with the public data.</p>
    <br />
    <p>The AskoTeam.</p>
</div>
