<div id='error_div'>
<br><br>
<div class="container alert alert-danger" role="modal">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <p id='error_message'></p>
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  <strong>Error: </strong>
  {{message}}
</div>
</div>
