<div class="footer-left">
<span id='footer-version' class="text-muted">
  <span>AskOmics {{current_version}}</span>
  {{#if admin}}
  {{#if logged}}
  {{#if version_differ}}
  <span> (latest version: <a href="{{latest_version_url}}" target="_newtab">{{latest_version}}</a>)</span>
  {{/if}}
  {{/if}}
  {{/if}}
</span>
</div>
<div class='footer-right'>
  <span id='footer-message' class="text-muted">{{message}}</span>
</div>
